.wrapper {
  height: 80px;
  padding: 16px;
  box-sizing: border-box;
  background: #FFF;
  color: #8a8a8a;
  display: flex;
  cursor: pointer;

  &:hover {
    background: #BBDEFB;
  }
}

.icon {
  width: 48px;
  height: 48px;
}

.Name {
  line-height: 48px;
}
