$HEIGHT: 56px;

.Header {
  height: $HEIGHT;
  background: #E97171;
  color: #FFF;
  padding: 0 16px;

  h1 {
    line-height: $HEIGHT;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
  }
}
