html,
body,
:global(#Main) {
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  width: 100%;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", Meiryo, sans-serif;
  background:linear-gradient( 180deg, #FF7043 0%, #FF7043 500px, #f8f8f8 500px, #f8f8f8 100%);

  &Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  &Body {
    padding-top: 48px;
  }

  &Content {
    max-width: 800px;
    margin: 240px auto 160px;
  }
}
